In [2]:
# Programa para ilustrar o uso da função best_move com o algoritmo Minimax

from minimax import minimax, best_move
from tic_tac_toe import TicTacToe

# Simulação de uma partida onde ambos os jogadores usam a política ótima
def simulate_game():
    game = TicTacToe()
    states = []

    while not game.game_over():
        move = best_move(game)
        states.append((game.board[:], game.current, move))
        game.make_move(move)

    final_result = game.winner() or 'Empate'
    return states, final_result

# Executa a simulação e retorna o histórico da partida
states, result = simulate_game()
import pandas as pd
df = pd.DataFrame(states, columns=["Tabuleiro", "Jogador", "Ação"])
df["Resultado final"] = result
df.head()

                     Tabuleiro Jogador  Ação Resultado final
0  [ ,  ,  ,  ,  ,  ,  ,  ,  ]       X     0          Empate
1  [X,  ,  ,  ,  ,  ,  ,  ,  ]       O     4          Empate
2  [X,  ,  ,  , O,  ,  ,  ,  ]       X     1          Empate
3  [X, X,  ,  , O,  ,  ,  ,  ]       O     2          Empate
4  [X, X, O,  , O,  ,  ,  ,  ]       X     6          Empate